/* Resetowanie domyślnych styli */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl nagłówka */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Styl nawigacji */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f0f0f0;
}

/* Styl sekcji */
section {
    padding: 50px 20px;
}

/* Styl stopki */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Dodatkowe style */
main {
    margin-top: 60px; /* Wyrównanie sekcji względem nagłówka */
}
