/* Resetowanie domyślnych styli */
/* ... */

/* Styl nawigacji */
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f0f0f0;
}

/* Styl sekcji */
main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

/* Styl stopki */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
